<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
    <title>PHP Ninja Test</title>
    <link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
</head>

<body>
    <div id="container">
        <div id="page">
            <div id="header">
                <div id="logo">
                    <a href="/"><img src="/images/logo.gif" /></a>
                </div>

                <div id="main">
                    <h1>our blog</h1>
                    <div id="content">          
                	{% for post in posts %}
                		<h2>{{ post.created_at | date('F jS, Y') }}</h2>
                		{{ post.content|raw }}<br><br>
   					{% endfor %}
                    </div>
                </div>

                <div id="right">
                {% include 'ZeetoNinjaBundle:Index:login.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>